body {
  margin: 0;
  border-width: 0;
  box-sizing: border-box;
  height: 100vh;

  font-family: Merriweather, serif;
}

.map-container {
  position: sticky;
  top: 0;
  height: 100vh;
  z-index: 0;
}

.map {
  height: 100%;
}

.cover {
  background: linear-gradient(180deg, rgb(67 92 92 / 74.8%), rgb(66 77 92));
  border: none;
  margin: 0;
  padding: 20px;
}

.cover-title {
  color: rgb(255 255 255);
  font-size: 2rem;
}

.cover p {
  color: rgb(233 233 233 / 83.6%);
  font-size: 1rem;
}

.slide-section {
  position: relative;
  margin-top: -30vh;
  z-index: 100;
  pointer-events: none;
  border-bottom: 1px solid rgb(0 0 0 / 10%);
}

.slide {
  margin-top: 120vh;
  margin-bottom: 120vh;
  margin-left: 2rem;
  margin-right: auto;
  padding: 1rem;
  box-shadow: -0.3rem 0.3rem 0.5rem rgb(255 255 255 / 50%);
  border: 0 solid gray;
  border-radius: 1rem;
  pointer-events: initial;

  width: 20rem;

  background-color: rgb(34 66 66 / 85.4%);
  backdrop-filter: blur(5px);
}

.highlight {
  font-size: 1.5rem;
  color: rgb(255 255 255);
}

.slide p {
  color: rgb(255 255 255 / 83.6%);
  font-size: 1rem;
  margin: 0;
  line-height: 2;
  text-align: justify;
}

.slide b {
  color: rgb(255 255 255);
  font-size: 1rem;
  margin: 0;
  line-height: 2;
}

.slide:first-child {
  margin-top: 0;
}

.slide:last-child {
  margin-bottom: 40vh;
}

.slide-controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 0.5rem;

  width: 100%;
}

.slide-nav-button {
  transition: all 0.1s;

  padding: 0;
  margin: 1rem;
  width: 4rem;
  height: 3rem;
  border: 1px solid #888;
  border-radius: 0.25rem;

  background-color: #eee;
  font-size: 1.5em;
}

.slide-nav-button:hover {
  background-color: #444;
  color: #fff;
}

.permanent-tooltip {
  background-color: rgb(0 0 0 / 70%);
  color: #0f0;
  font-size: 8px;
  border-radius: 4px;
  padding: 2px 6px;
  box-shadow: 2px 2px 4px rgb(0 0 0 / 50%);
}

.custom-tooltip {
  background-color: rgb(0 0 0 / 70%);
  color: #0f0;
  font-size: 8px;
  border-radius: 4px;
  padding: 2px 6px;
  box-shadow: 2px 2px 4px rgb(0 0 0 / 50%);
}

.leaflet-popup-content-wrapper {
  background: rgb(210 236 236) !important;
  color: #fff;
  border-radius: 8px !important;
  box-shadow: 2px 2px 6px rgb(0 0 0 / 40%);
  padding: 0 !important;
}

.leaflet-popup-tip {
  background: rgb(210 236 236) !important;
}

.custom-popup {
  max-width: 300px;
  font-family: Arial, sans-serif;
  background: rgb(210 236 236);
  padding: 0 !important;
  border-radius: 0;
}

.custom-popup h4 {
  color: #2c3e50;
  margin-bottom: 2px;
}

.popup-image {
  width: 100%;
  min-width: 300px;
  border-radius: 1px;
  margin-top: 1px;
}

.slide-nav-select {
  min-width: 0;
}

@media (width <= 80ch) {
  .slide-nav-select {
    min-width: 50%;
  }
}

.info.legend {
  background: rgb(0 0 0 / 30%);
  padding: 10px 20px;
  font: 12px/16px Arial, sans-serif;
  box-shadow: 0 0 0 rgb(0 0 0 / 30%);
  border-radius: 5px;
  color: rgb(255 255 255 / 83.6%);
}

.info.legend h4 {
  margin: 0 0 5px;
  font-size: 13px;
  font-weight: bold;
}

.info.legend i {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 6px;
  vertical-align: middle;
}

.end {
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, rgb(66 77 92), rgb(67 92 92 / 74.8%));
  border: none;
  margin: 0;
  padding: 5%;
  box-sizing: border-box;
  color: #fff;
}

.end-title {
  font-size: 1.5rem;
}

.end-data {
  color: #ffffffcb;
  font-size: 0.8rem;
}

.end a {
  color: #c4eddc;
  text-decoration: underline;
  word-wrap: break-word;
  overflow-wrap: anywhere;
}

.end a:hover {
  color: #86e0ba;
  text-decoration: none;
}
